{% extends 'vehicle/adminbase.html' %}
{% block content %}
<head>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all elements with the class 'mobile-number'
        var mobileNumbers = document.querySelectorAll('.mobile-number');

        // Add click event listener to each mobile number
        mobileNumbers.forEach(function(element) {
            element.addEventListener('click', function() {
                // Get the mobile number
                var mobileNumber = element.textContent;

                // Call function to open WhatsApp with pre-filled message
                openWhatsApp(mobileNumber);
            });
        });

        // Function to open WhatsApp with pre-filled message
        function openWhatsApp(mobileNumber) {
            // Construct the WhatsApp API link
            var url = 'https://api.whatsapp.com/send?phone=' + encodeURIComponent(mobileNumber);

            // Open the WhatsApp link
            window.open(url, '_blank');
        }
    });
</script>

<!-- Add this script tag in your HTML template -->


</head>
	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Enquiry Made By Customer
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Customer Name</th>

                  <th>Vehicle Name</th>
                  <th>Category</th>

                  <th>Problem Description</th>
                  <th>Status</th>
                  <th>Change Status</th>

                  <th>Delete</th>
					<th>Mobile</th>
                </tr>
							</thead>
							<tbody>
                {% for c,r in data %}
                <tr>

                  <td> {{c.get_name}}</td>
                  <td> {{r.vehicle_name}}</td>
                  <td>{{r.category}}</td>
                  <td>{{r.problem_description}}</td>
                  <td>{{r.status}}</td>


                  <td><a  style="color:red; text-decoration:none;font-size:25px;" href="{% url 'change-status' r.id  %}">&#9998;</a></td>
                  <td><a style="color:blue; text-decoration:none;font-size:25px;"href="{% url 'admin-delete-request' r.id  %}">&#10008;</a></td>
				<td>
    <a href="https://wa.me/{{ c.mobile }}?text=Your%20vehicle%20is%20Ready!%20Thanks%20for%20using%20AutoX" target="_blank">
        {{ c.mobile }}
    </a>
</td>


                </tr>


                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
